USE [master]
GO
/****** Object:  Database [shop_system]    Script Date: 1/21/2026 2:34:42 PM ******/
CREATE DATABASE [shop_system]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shop_system', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\shop_system.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'shop_system_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\shop_system_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shop_system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shop_system]
GO
/****** Object:  Table [dbo].[ATTRIBUTE]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTRIBUTE](
	[attribute_id] [int] IDENTITY(1,1) NOT NULL,
	[attribute_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ATTRIBUTE] PRIMARY KEY CLUSTERED 
(
	[attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ATTRIBUTE_NAME] UNIQUE NONCLUSTERED 
(
	[attribute_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRANCH_PRODUCT_STOCK]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH_PRODUCT_STOCK](
	[warehouse_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[last_updated] [datetime2](7) NULL,
 CONSTRAINT [PK_BRANCH_PRODUCT_STOCK] PRIMARY KEY CLUSTERED 
(
	[warehouse_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](255) NOT NULL,
	[country] [nvarchar](100) NULL,
	[description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_BRAND] PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BRAND_NAME] UNIQUE NONCLUSTERED 
(
	[brand_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BULK_ORDER]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BULK_ORDER](
	[bulk_order_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_BULK_ORDER] PRIMARY KEY CLUSTERED 
(
	[bulk_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BULK_ORDER_DETAILS]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BULK_ORDER_DETAILS](
	[bulk_order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[bulk_order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price_snapshot] [decimal](18, 2) NULL,
	[discount_snapshot] [decimal](18, 2) NULL,
 CONSTRAINT [PK_BULK_ORDER_DETAILS] PRIMARY KEY CLUSTERED 
(
	[bulk_order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BOD] UNIQUE NONCLUSTERED 
(
	[bulk_order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BULK_PRICE_TIER]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BULK_PRICE_TIER](
	[bulk_price_tier_id] [int] IDENTITY(1,1) NOT NULL,
	[bulk_order_detail_id] [int] NOT NULL,
	[min_qty] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_BULK_PRICE_TIER] PRIMARY KEY CLUSTERED 
(
	[bulk_price_tier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BPT] UNIQUE NONCLUSTERED 
(
	[bulk_order_detail_id] ASC,
	[min_qty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART_ITEM]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART_ITEM](
	[cart_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[added_date] [datetime2](7) NULL,
 CONSTRAINT [PK_CART_ITEM] PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CATEGORY_NAME] UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](255) NULL,
	[tax_code] [nvarchar](50) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[address] [nvarchar](500) NULL,
 CONSTRAINT [PK_COMPANY] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone_number] [nvarchar](50) NULL,
	[address] [nvarchar](500) NULL,
	[registration_date] [datetime2](7) NULL,
	[status] [nvarchar](50) NULL,
	[reward_point] [int] NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CUSTOMER_EMAIL] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER_VOUCHER]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_VOUCHER](
	[customer_id] [int] NOT NULL,
	[voucher_id] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[assigned_at] [datetime2](7) NULL,
	[used_at] [datetime2](7) NULL,
 CONSTRAINT [PK_CUSTOMER_VOUCHER] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC,
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDIA]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDIA](
	[media_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[type] [nvarchar](50) NULL,
	[url] [nvarchar](1000) NOT NULL,
	[sort_order] [int] NULL,
 CONSTRAINT [PK_MEDIA] PRIMARY KEY CLUSTERED 
(
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[order_date] [datetime2](7) NULL,
	[total_amount] [decimal](18, 2) NULL,
	[order_status] [nvarchar](50) NULL,
	[shipping_address] [nvarchar](500) NULL,
	[payment_method] [nvarchar](50) NULL,
	[voucher_id] [int] NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_CUSTOMIZATION]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_CUSTOMIZATION](
	[customization_id] [int] IDENTITY(1,1) NOT NULL,
	[bulk_order_detail_id] [int] NOT NULL,
	[type] [nvarchar](50) NULL,
	[note] [nvarchar](2000) NULL,
	[status] [nvarchar](50) NULL,
	[extra_fee] [decimal](18, 2) NULL,
 CONSTRAINT [PK_ORDER_CUSTOMIZATION] PRIMARY KEY CLUSTERED 
(
	[customization_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAIL](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[warehouse_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NULL,
	[discount_amount] [decimal](18, 2) NULL,
	[subtotal] [decimal](18, 2) NULL,
 CONSTRAINT [PK_ORDER_DETAIL] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](2000) NULL,
	[price] [decimal](18, 2) NULL,
	[category_id] [int] NULL,
	[brand_id] [int] NULL,
	[quantity] [int] NULL,
	[status] [nvarchar](50) NULL,
	[created_date] [datetime2](7) NULL,
	[supplier_id] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_ATTRIBUTE]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_ATTRIBUTE](
	[product_id] [int] NOT NULL,
	[attribute_id] [int] NOT NULL,
	[value] [nvarchar](500) NULL,
 CONSTRAINT [PK_PRODUCT_ATTRIBUTE] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEW]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEW](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[rating] [tinyint] NULL,
	[comment] [nvarchar](2000) NULL,
	[review_date] [datetime2](7) NULL,
 CONSTRAINT [PK_REVIEW] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPPING_CART]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOPPING_CART](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[created_date] [datetime2](7) NULL,
	[last_updated] [datetime2](7) NULL,
 CONSTRAINT [PK_SHOPPING_CART] PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORE_BRANCH]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORE_BRANCH](
	[warehouse_id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_name] [nvarchar](255) NOT NULL,
	[location] [nvarchar](500) NULL,
	[manager_name] [nvarchar](255) NULL,
	[contact_number] [nvarchar](50) NULL,
 CONSTRAINT [PK_STORE_BRANCH] PRIMARY KEY CLUSTERED 
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [nvarchar](255) NOT NULL,
	[contact_person] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone_number] [nvarchar](50) NULL,
	[address] [nvarchar](500) NULL,
 CONSTRAINT [PK_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOUCHER]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUCHER](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[voucher_code] [nvarchar](100) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[discount_value] [decimal](18, 2) NULL,
	[discount_type] [nvarchar](50) NULL,
	[valid_from] [datetime2](7) NULL,
	[valid_to] [datetime2](7) NULL,
	[usage_limit] [int] NULL,
 CONSTRAINT [PK_VOUCHER] PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VOUCHER_CODE] UNIQUE NONCLUSTERED 
(
	[voucher_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WARRANTY]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WARRANTY](
	[warranty_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[warranty_period_months] [int] NULL,
	[warranty_terms] [nvarchar](2000) NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
 CONSTRAINT [PK_WARRANTY] PRIMARY KEY CLUSTERED 
(
	[warranty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WISHLIST]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WISHLIST](
	[wishlist_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[created_date] [datetime2](7) NULL,
 CONSTRAINT [PK_WISHLIST] PRIMARY KEY CLUSTERED 
(
	[wishlist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WISHLIST_ITEM]    Script Date: 1/21/2026 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WISHLIST_ITEM](
	[wishlist_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[created_date] [datetime2](7) NULL,
 CONSTRAINT [PK_WISHLIST_ITEM] PRIMARY KEY CLUSTERED 
(
	[wishlist_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BRANCH_PRODUCT_STOCK] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[BRANCH_PRODUCT_STOCK]  WITH CHECK ADD  CONSTRAINT [FK_BPS_BRANCH] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[STORE_BRANCH] ([warehouse_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BRANCH_PRODUCT_STOCK] CHECK CONSTRAINT [FK_BPS_BRANCH]
GO
ALTER TABLE [dbo].[BRANCH_PRODUCT_STOCK]  WITH CHECK ADD  CONSTRAINT [FK_BPS_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BRANCH_PRODUCT_STOCK] CHECK CONSTRAINT [FK_BPS_PRODUCT]
GO
ALTER TABLE [dbo].[BULK_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_BO_COMPANY] FOREIGN KEY([company_id])
REFERENCES [dbo].[COMPANY] ([company_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BULK_ORDER] CHECK CONSTRAINT [FK_BO_COMPANY]
GO
ALTER TABLE [dbo].[BULK_ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_BOD_BO] FOREIGN KEY([bulk_order_id])
REFERENCES [dbo].[BULK_ORDER] ([bulk_order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BULK_ORDER_DETAILS] CHECK CONSTRAINT [FK_BOD_BO]
GO
ALTER TABLE [dbo].[BULK_ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_BOD_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
GO
ALTER TABLE [dbo].[BULK_ORDER_DETAILS] CHECK CONSTRAINT [FK_BOD_PRODUCT]
GO
ALTER TABLE [dbo].[BULK_PRICE_TIER]  WITH CHECK ADD  CONSTRAINT [FK_BPT_BULK_ORDER_DETAILS] FOREIGN KEY([bulk_order_detail_id])
REFERENCES [dbo].[BULK_ORDER_DETAILS] ([bulk_order_detail_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BULK_PRICE_TIER] CHECK CONSTRAINT [FK_BPT_BULK_ORDER_DETAILS]
GO
ALTER TABLE [dbo].[CART_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CART_ITEM_CART] FOREIGN KEY([cart_id])
REFERENCES [dbo].[SHOPPING_CART] ([cart_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CART_ITEM] CHECK CONSTRAINT [FK_CART_ITEM_CART]
GO
ALTER TABLE [dbo].[CART_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CART_ITEM_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
GO
ALTER TABLE [dbo].[CART_ITEM] CHECK CONSTRAINT [FK_CART_ITEM_PRODUCT]
GO
ALTER TABLE [dbo].[CUSTOMER_VOUCHER]  WITH CHECK ADD  CONSTRAINT [FK_CV_CUSTOMER] FOREIGN KEY([customer_id])
REFERENCES [dbo].[CUSTOMER] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMER_VOUCHER] CHECK CONSTRAINT [FK_CV_CUSTOMER]
GO
ALTER TABLE [dbo].[CUSTOMER_VOUCHER]  WITH CHECK ADD  CONSTRAINT [FK_CV_VOUCHER] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[VOUCHER] ([voucher_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMER_VOUCHER] CHECK CONSTRAINT [FK_CV_VOUCHER]
GO
ALTER TABLE [dbo].[MEDIA]  WITH CHECK ADD  CONSTRAINT [FK_MEDIA_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MEDIA] CHECK CONSTRAINT [FK_MEDIA_PRODUCT]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_CUSTOMER] FOREIGN KEY([customer_id])
REFERENCES [dbo].[CUSTOMER] ([customer_id])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_CUSTOMER]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_VOUCHER] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[VOUCHER] ([voucher_id])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_VOUCHER]
GO
ALTER TABLE [dbo].[ORDER_CUSTOMIZATION]  WITH CHECK ADD  CONSTRAINT [FK_OC_BOD] FOREIGN KEY([bulk_order_detail_id])
REFERENCES [dbo].[BULK_ORDER_DETAILS] ([bulk_order_detail_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDER_CUSTOMIZATION] CHECK CONSTRAINT [FK_OC_BOD]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_OD_BRANCH] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[STORE_BRANCH] ([warehouse_id])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_OD_BRANCH]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_OD_ORDER] FOREIGN KEY([order_id])
REFERENCES [dbo].[ORDER] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_OD_ORDER]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_OD_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_OD_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_BRAND] FOREIGN KEY([brand_id])
REFERENCES [dbo].[BRAND] ([brand_id])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_BRAND]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY] FOREIGN KEY([category_id])
REFERENCES [dbo].[CATEGORY] ([category_id])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_SUPPLIER] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[SUPPLIER] ([supplier_id])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_SUPPLIER]
GO
ALTER TABLE [dbo].[PRODUCT_ATTRIBUTE]  WITH CHECK ADD  CONSTRAINT [FK_PA_ATTRIBUTE] FOREIGN KEY([attribute_id])
REFERENCES [dbo].[ATTRIBUTE] ([attribute_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT_ATTRIBUTE] CHECK CONSTRAINT [FK_PA_ATTRIBUTE]
GO
ALTER TABLE [dbo].[PRODUCT_ATTRIBUTE]  WITH CHECK ADD  CONSTRAINT [FK_PA_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT_ATTRIBUTE] CHECK CONSTRAINT [FK_PA_PRODUCT]
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_REVIEW_CUSTOMER] FOREIGN KEY([customer_id])
REFERENCES [dbo].[CUSTOMER] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REVIEW] CHECK CONSTRAINT [FK_REVIEW_CUSTOMER]
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_REVIEW_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
GO
ALTER TABLE [dbo].[REVIEW] CHECK CONSTRAINT [FK_REVIEW_PRODUCT]
GO
ALTER TABLE [dbo].[SHOPPING_CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_CUSTOMER] FOREIGN KEY([customer_id])
REFERENCES [dbo].[CUSTOMER] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SHOPPING_CART] CHECK CONSTRAINT [FK_CART_CUSTOMER]
GO
ALTER TABLE [dbo].[WARRANTY]  WITH CHECK ADD  CONSTRAINT [FK_WARRANTY_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WARRANTY] CHECK CONSTRAINT [FK_WARRANTY_PRODUCT]
GO
ALTER TABLE [dbo].[WISHLIST]  WITH CHECK ADD  CONSTRAINT [FK_WISHLIST_CUSTOMER] FOREIGN KEY([customer_id])
REFERENCES [dbo].[CUSTOMER] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WISHLIST] CHECK CONSTRAINT [FK_WISHLIST_CUSTOMER]
GO
ALTER TABLE [dbo].[WISHLIST_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_WI_PRODUCT] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WISHLIST_ITEM] CHECK CONSTRAINT [FK_WI_PRODUCT]
GO
ALTER TABLE [dbo].[WISHLIST_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_WI_WISHLIST] FOREIGN KEY([wishlist_id])
REFERENCES [dbo].[WISHLIST] ([wishlist_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WISHLIST_ITEM] CHECK CONSTRAINT [FK_WI_WISHLIST]
GO
ALTER TABLE [dbo].[BRANCH_PRODUCT_STOCK]  WITH CHECK ADD  CONSTRAINT [CK_BPS_QTY] CHECK  (([quantity]>=(0)))
GO
ALTER TABLE [dbo].[BRANCH_PRODUCT_STOCK] CHECK CONSTRAINT [CK_BPS_QTY]
GO
ALTER TABLE [dbo].[BULK_ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [CK_BOD_QTY] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[BULK_ORDER_DETAILS] CHECK CONSTRAINT [CK_BOD_QTY]
GO
ALTER TABLE [dbo].[BULK_PRICE_TIER]  WITH CHECK ADD  CONSTRAINT [CK_BPT_MIN_QTY] CHECK  (([min_qty]>(0)))
GO
ALTER TABLE [dbo].[BULK_PRICE_TIER] CHECK CONSTRAINT [CK_BPT_MIN_QTY]
GO
ALTER TABLE [dbo].[BULK_PRICE_TIER]  WITH CHECK ADD  CONSTRAINT [CK_BPT_UNIT_PRICE] CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[BULK_PRICE_TIER] CHECK CONSTRAINT [CK_BPT_UNIT_PRICE]
GO
ALTER TABLE [dbo].[CART_ITEM]  WITH CHECK ADD  CONSTRAINT [CK_CART_ITEM_QTY] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[CART_ITEM] CHECK CONSTRAINT [CK_CART_ITEM_QTY]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [CK_OD_QTY] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [CK_OD_QTY]
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD  CONSTRAINT [CK_REVIEW_RATING] CHECK  (([rating] IS NULL OR [rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[REVIEW] CHECK CONSTRAINT [CK_REVIEW_RATING]
GO
USE [master]
GO
